{% extends "base.html" %}
{% block content %}
<div>
    <h1>Editar Filme: {{filme.titulo}} </h1>
    <form method="POST" action="/update_filme/{{filme.id_filme}}">
        <div >
            <label for="titulo">Título</label>
            <input type="text" id="titulo" name="titulo" required>
        </div>   
        <div>
            <label for="classificacao">Classificação</label>
            <input type="text" id="classificacao" name="classificacao" required>
        </div>
        <div>
            <label for="genero">Gênero</label>
            <input type="text" id="genero" name="genero" required>
        </div>
    </br>
    
        <button type="submit">Editar</button>
    </form>
    <p>
        Edite o filme: {{filme.titulo}}.
    </p>
</div>
{% endblock %}